@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* reset start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* reset end */

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.75rem;
  font-size: inherit;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
}

/* general */
/* color and font */

.container {
  display: flex;
  flex-direction: column;
}
/* header */
.header {
  flex: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 200px;
  background-color: #1f2937;

}

.header .logo {
  font-size: 2rem;
  color: #f9faf8;
  font-weight: 700;
}

.topnav ul {
  display: flex;
  gap: 1rem;
}

.topnav a {
  font-size: 1.125rem;
  color: #e5e7eb;
}

/* footer */
.footer {
  flex: none;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;
  background-color: #1f2937;

  color: #e5e7eb;
}
.footer a {
  color: #e5e7eb;
}

/* body */
.body {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.section {
  flex: 1;
  
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  min-height: 300px;
  padding: 5rem 200px;
}

/* default content */
.content {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 1.5rem;
}

.content--header {
  font-size: 2.25rem;
  font-weight: 900;
  color: #1f2937;
}

.image--container {
  flex: 1;
}

/* Hero Start*/
#hero.section {
  background-color: #1f2937;
}

#hero .content {
  align-items: flex-start;
}

#hero .content--header {
  font-size: 3rem;
  font-weight: bolder;
  color: #f9faf8
}

#hero .content--body {
  font-size: 1.125rem;
  color: #e5e7eb;
}

/* Hero END */

/* Product START */
#products .content {
  gap: 3rem;
}

/* Product END */

/* Testi Start */
#testimonials.section {
  background-color: #e5e7eb;
}
/* Testi End */

/* Buy Now Start */
#order-now .wrapper {
  display: flex;
  align-items: center;
  
  width: 100%;
  padding: 1rem 5rem;
  background-color: #3882f6;
  border-radius: 1rem;

  color:#f9faf8;
  font-size: 1.125rem;
}

#order-now .content {
  align-items: flex-start;
}

#order-now .content--header {
  color: #f9faf8;
}
/* Buy Now End */

/* Button Start */
.btn {
  padding: 0.5rem 1.5rem;
  border: none;
  color: white;
}

.btn--filled {
  border: none;
  background-color: #3882f6;
}

.btn--outlined {
  outline: 2px solid white;
  background-color: transparent;
}

/* Button End */

/* CARD Start */
.card--container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 2rem;
}

.card {
  flex: 0 0 auto;

  display: flex;
  flex-direction: column;

  width: 250px;
  min-height: 250px;
}

.card--image {
  flex: 0 0 auto;
}

.card--content {
  flex: 1;

  display: flex;
  gap: 1rem;

  padding: 1rem;

  text-align: center;
}

.card:hover {
  outline: 2px solid #1f2937;
}
/* CARD End */

/* Quote */
.quote {
  display: flex;
  flex-direction: column;
}

.quote--text {
  font-size: 2.25rem;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.quote--source {
  align-self: flex-end;
  font-weight: 700;
  font-size: 1.75rem;
}
